// variables
$light-blue: rgb(31, 153, 214)
$orange: #f5de8c
    
header
    nav
        ul
            li:nth-of-type(6)
                position: relative
                &::before
                    content: ''
                    position: absolute
                    bottom: -4px
                    left: 0
                    width: 100%
                    height: 5px
                    border-radius: 2px
                    background: $orange

//content design
main
    display: flex
    justify-content: center
    gap: 5rem
    margin: 8rem 0
    height: initial
    .slots  
        display: flex
        flex-direction: column
        .slot-row
            display: flex
            .slot-item
                height: 150px
                width: 150px
                background: url('../slots_assets/seven_slots.jpg')
                background-position: center
                background-repeat: no-repeat
                background-size: cover
                border: 1px solid black
        .slot-row:nth-of-type(2)
            .slot-item
                border: 4px solid black
                // background: blue
            #slot-item-1
                border-left: 6px solid black
            #slot-item-3
                border-right: 6px solid black
        .slots-info
            margin-top: 3rem
            p
                font-size: 3rem
                font-weight: 700
        .slot-row:nth-of-type(3)
            .slot-item
                // background: green
    .buttons
        display: flex
        flex-direction: column
        justify-content: space-evenly
        align-items: center
        .change-bet__button
            display: flex
            gap: 1rem
            align-items: center
            flex-wrap: wrap
            font-weight: 700
            .decrease-bet
                display: flex
                gap: 1rem
            .decrease-bet > *
                background: $light-blue
                padding: 1rem
                border-radius: .5rem
                cursor: pointer
                user-select: none
                &::before
                    content: '-'
            .increase-bet
                display: flex
                gap: 1rem
            .increase-bet > *
                background: darken($light-blue, 30%)
                color: white
                padding: 1rem
                border-radius: .5rem
                cursor: pointer
                user-select: none
                &::before
                    content: '+'
            .bet-val
                font-size: 1.5rem
                cursor: default
                user-select: none
                &::after
                    content: '$'
                    color: green
        .button 
            padding: 2.5rem 3.5rem
            max-width: 200px
            text-align: center
            font-size: 1.5rem
            font-weight: 700
            cursor: pointer
            border-radius: 1rem
            box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, .2)
            user-select: none
        .shop-btn
            background: #066b28
            background: grey
            color: darken(grey, 25%)
            cursor: not-allowed
        .spin-btn
            background: rgb(255, 0, 0)
            color: white
            transition: background 100ms ease-out
            
    



//responsive
@media  ( max-width: 1000px )
    html
        body
            main
                .buttons
                    .change-bet__button
                        gap: .5rem
                        .decrease-bet
                            gap: .5rem
                        .decrease-bet > *
                            padding: .75rem
                        .increase-bet
                            gap: .5rem
                        .increase-bet > *
                            padding: .75rem

@media ( max-width: 1050px )
    html
        body
            main
                .buttons
                    .change-bet__button
                        flex-direction: column

@media ( max-width: 800px)
    html
        body
            header
                nav
                    ul
                        li:nth-of-type(6)
                            border-bottom: 1px solid $orange
            main
                margin: 8rem 4rem
                flex-direction: column
                align-items: center
                gap: 2rem
                .slots-info
                    text-align: center
                .buttons
                    gap: 2rem
                    flex-direction: column-reverse
                    .change-bet__button
                        .decrease-bet > *
                            padding: .5rem
                        .increase-bet > *
                            padding: .5rem

@media ( max-width: 500px )
    html
        body
            main
                .slots
                    .slot-row
                        .slot-item
                            width: 100px
                            height: 100px
                    .slots-info
                        p
                            font-size: 2rem
                .buttons
                    .button
                        padding: 1.5rem 2.5rem
                        font-size: 1.1rem

@media ( max-width: 350px )
    html
        body
            main
                .slots
                    .slot-row
                        .slot-item
                            height: 50px
                            width: 50px
                .buttons
                    .button
                        padding: 1rem 2rem